@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Nunito:wght@200;300;400;600;700;800;900&family=Inter:wght@400;500;600;700;800;900&family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

@font-face {
  font-family: "a Astro Space";
  src: local("a Astro Space");
  font-weight: normal;
  font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;

  color-scheme: dark;
}

/* Check out Gotham rounded font */
/* font-family: 'Open Sans', sans-serif; */
/* font-family: 'Lato', sans-serif; */
/* font-family: 'Poppins', sans-serif; */
/* font-family: 'Nunito', sans-serif; */
/* font-family: 'Raleway', sans-serif; */
/* font-family: 'Inter', sans-serif; */

:root {
  font-family: "";

  --gradient: linear-gradient(
    90.89deg,
    hsla(284, 95%, 76%, 1) 5.39%,
    hsla(216, 98%, 80%, 1) 50.36%,
    hsla(203, 100%, 77%, 1) 99.23%
  );
  /* SAN JUAN - COLOR NAME */
  /* https://imagecolorpicker.com/color-code/2a496a */
  --mainBg: #213954;
  --menuBG: #080f15;
  --navBg: rgba(0, 2, 10, 0.825);
}

html {
  font-size: 62.5%;
  /* overflow: auto; */
  background: var(--mainBg);
}

body {
  height: 300vh;
  width: 100%;
  overflow-x: hidden;
}

.App {
  font-size: 2.4rem;
}

.gradient-mask {
  background-image: var(--gradient);
}

.overlay {
  background: linear-gradient(90deg, #1A212F 6.64%, rgba(26, 27, 31, 0.89) 22.66%, rgba(26, 27, 31, 0) 53.94%);
}

.text-mask {
  background: var(--gradient);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-mask-2{
  background: linear-gradient(90.96deg, #DE89FC 18.06%, #9AC2FE 59.24%, rgba(243, 139, 44, 0) 96.34%, #88D2FF 96.34%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
}

.nav-bg {
  background: rgba(0, 2, 10, 0.825);
}

.card-gradient {
  -webkit-transition: background-image 2s ease-out;
  -moz-transition: background-image 2s ease-out;
  -o-transition: background-image 2s ease-out;
  transition: background-image 2s ease-out;
}

.card-gradient:hover {
  background-image: var(--gradient);
}

.card-svg svg {

  fill: hsla(203, 100%, 77%, 1);
}

.section-radial-bg {
  /* border: 2px solid red; */
  background: radial-gradient(
      124.69% 1074.59% at -7.51% -40.3%,
      hsla(284, 95%, 76%, 1) 17.55%,
      hsla(203, 100%, 77%, 1) 77.08%
    )
    /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
  filter: blur(110px);
}

.success-blur{
  background: radial-gradient(146.3% 1115.38% at -36.97% -45%, rgba(154, 194, 254, 1) 49.89%, rgba(136, 210, 255, 1) 77.08%);
filter: blur(180px);
}

.contact-overlay{
  background: linear-gradient(1.28deg, rgba(28, 49, 71, 0.863) -51.82%, rgba(8, 15, 21, 0.6) 64.48%);
  color:rgba(106, 128, 151, 1),
}


/* ------ MENU STYLES ------- */


.menus {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
}

.menu-items {
  position: relative;
  font-size: 18px;
}

.sub-items {
  font-size: 3.4rem;
}

.menu-items a {
  display: block;
  /* font-size: inherit; */
  text-transform: capitalize;
  color: inherit;
  text-decoration: none;
}

.menu-items button {
  display: flex;
  align-items: center;
  color: inherit;
  font-size: inherit;
  border: none;
  /* background-color: #080f15; */
  cursor: pointer;
  width: 100%;
}

button span {
  margin-left: 3px;
}

.menu-items > a, .menu-items button {
  text-align: left;
  padding: 0.7rem 1rem;
}

.menu-items a:hover,
.menu-items button:hover {
  background-color: #3f5b79;
  color: #f2f2f2;
}

.arrow::after {
  content: "";
  display: inline-block;
  margin-left: 0.28em;
  vertical-align: 0.09em;
  border-top: 0.42em solid;
  border-right: 0.32em solid transparent;
  border-left: 0.32em solid transparent;
}

.dropdown {
  position: absolute;
  right: 0;
  left: auto;
  box-shadow: 0 10px 15px -3px rgba(46, 41, 51, 0.08),
    0 4px 6px -2px rgba(71, 63, 79, 0.16);
  font-size: 2.875rem;
  z-index: 9999;
  min-width: 32rem;
  padding: 0.5rem 0;
  list-style: none;
  background-color: var(--navBg);
  border-radius: 0.5rem;
  display: none;
  color: smokeywhite;
  text-transform: capitalize;
}

.dropdown.show {
  display: block;
}

.dropdown .dropdown-submenu {
  position: absolute;
  left: 100%;
  top: 16px;
}

          /* content */

.content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 3rem 20px;
}

.content h2 {
  margin-bottom: 1rem;
}

.content a {
  color: #cc3852;
  margin-right: 10px;
}